@(username: String, data: Stat_struct)

@admin("Администрирование", username,  1) {
    <h1 class="page-header">Статистика</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Пользователи</div>

                   <table class="table">
                    <thead>
                        <tr>
                            <th>Всего</th>
                            <th>@data.all_users</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Активные</td>
                            <td>@data.active_users</td>
                        </tr>
                        <tr>
                            <td>Не активные</td>
                            <td>@data.nonactive_users</td>
                        </tr>
                        <tr>
                            <td><strong>Роли пользователей:</strong></td>
                            <td><strong>@data.users_roles</strong></td>
                        </tr>
                        @for((k, v) <- data.users_roles_list) {
                            <tr>
                                <td>&mdash; @k</td>
                                <td><abbr title="Пользователей в этой роли">@v</abbr></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">Достижения</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Всего</th>
                            <th>@data.all_achievements</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>На премию:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&mdash; Принято</td>
                            <td>@data.ach_on_prem.get(0)</td>
                        </tr>
                        <tr>
                            <td>&mdash; На рассмотрении</td>
                            <td>@data.ach_on_prem.get(1)</td>
                        </tr>
                        <tr>
                            <td>&mdash; Отклонено</td>
                            <td>@data.ach_on_prem.get(2)</td>
                        </tr>
                        <tr>
                            <td>На стипендию:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&mdash; Принято</td>
                            <td>@data.ach_on_stip.get(0)</td>
                        </tr>
                        <tr>
                            <td>&mdash; На рассмотрении</td>
                            <td>@data.ach_on_stip.get(1)</td>
                        </tr>
                        <tr>
                            <td>&mdash; Отклонено</td>
                            <td>@data.ach_on_stip.get(2)</td>
                        </tr>

                        <tr>
                            <td>Достижений на пользователя</td>
                            <td>&asymp; @data.achievements_per_user</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Стипендии</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Всего</th>
                            <th>@data.all_cats</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((key, value) <- data.cats) {
                        <tr>
                            <td>&mdash; @key</td>
                            <td><abbr title="Количество подкатегорий">@value</abbr></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Факультеты</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Всего</th>
                            <th>@data.all_fcl</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for((key, value) <- data.fcls) {
                        <tr>
                            <td>@key</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&mdash; Студентов</td>
                            <td>@value.get(0)</td>
                        </tr>
                        <tr>
                            <td>&mdash; Достижений</td>
                            <td>@value.get(1)</td>
                        </tr>
                        <tr>
                            <td>&mdash; Модераторов</td>
                            <td>@value.get(2)</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
}