@(message: String)
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>На будущее</title>
</head>
<body style="font-size: larger;">
<h1>ТУ-ДУ листик</h1>
    <h2>...или что нужно сделать до диплома</h2>
<hr>
<ul>
    <li><h3>Остаться в живых после сдачи курсовой работы</h3></li>
    <li>Реализовать создание отношений модерации</li>
    <li>Добавить модуль модераторов</li>
    <li>Добавить модуль наблюдателей</li>
    <li>Кнопки вперед/назад на страницах с pagination</li>
    <li>Добавить дату подачи достижения</li>
    <li>Сделать крутилку при подгрузке чего-либо</li>
    <li>Переименовать факультет в структурное подразделение</li>
    <li>Сделать так, чтоб у пользователя могло быть несколько факультетов</li>
    <li>Функция, чтоб с одного факультета можно было перекинуть всех студентов на другой</li>
    <li><strong>Проверки на пустые и некорректные значения</strong></li>
    <li>сделать, чтоб проверяющий не видел кнопку свои достижения</li>
    <li><strong>Чтобы был только 1 председатель профбюро!</strong></li>
</ul>
<hr>
<input class="buttonSend" onclick="window.history.back();" type="button" value="Вернуться"/>
</body>
</html>