@(message: String)
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>На будущее</title>
</head>
<body style="font-size: larger;">
<h1>ТУ-ДУ листик</h1>
<hr>
<ul>
    <li>Реализовать создание отношений модерации</li>
    <li>Добавить модуль модераторов</li>
    <li>Добавить модуль наблюдателей</li>
    <li><strong>Проверки на пустые значения</strong></li>
</ul>
<hr>
<input class="buttonSend" onclick="window.history.back();" type="button" value="Вернуться"/>
</body>
</html>